files:
  "/tmp/custom-nginx.conf":
    mode: "00644"
    owner: "root"
    group: "root"
    content: |
      map $http_upgrade $connection_upgrade {
        default		"upgrade";
        ""			"";
      }

      server {
        listen 80;
        client_max_body_size 20M;

        gzip  on;
        gzip_http_version 1.1;
        gzip_vary on;
        gzip_comp_level 6;
        gzip_proxied any;
        gzip_types text/plain text/html text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript text/x-js;
        gzip_buffers 16 8k;
        gzip_disable "MSIE [1-6]\.(?!.*SV1)";

        location / {

          proxy_pass			http://docker;
          proxy_http_version	1.1;

          proxy_set_header	Connection			$connection_upgrade;
          proxy_set_header	Upgrade				$http_upgrade;
          proxy_set_header	Host				$host;
          proxy_set_header	X-Real-IP			$remote_addr;
          proxy_set_header	X-Forwarded-For		$proxy_add_x_forwarded_for;

       }
      }

commands:
  update_nginx_conf:
    command: mv -f /tmp/custom-nginx.conf /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf
